<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact Information</h5>

        <p>
          A blog, short for weblog, is a frequently updated web page used for personal commentary or business content. Blogs are 
          often interactive and include sections at the bottom of individual blog posts where readers can leave comments.
          this is a blog site in this project we have to perform crud operation , in this blogging site a user can read , update 
          ,delete and remove.

        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-dark" href="#">Assignment</a>
  </div>
  <!-- Copyright -->
</footer>
